@{
ViewBag.Title = "Employee: " + @Model.Employee.Name;
}




<div class="employee-block">
    <p>Id: @Model.Employee.Id</p>
    <p>Name: @Model.Employee.Name</p>
    <p>Position: @Model.Employee.Position</p>
    <p>Age: @Model.Employee.Age</p>
    <p>Email: @Model.Employee.Email</p>
</div>

